<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All About Me (Brian Saechao)</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css'%}">
</head>
<body>
    <div id="homepage">
        <h1>Brian Saechao</h1>
        <div class="me">
            <img src="https://media-exp1.licdn.com/dms/image/C4E03AQEDI1qb_O_6ZQ/profile-displayphoto-shrink_800_800/0/1624300411907?e=1632960000&v=beta&t=0BaZc8uXUKjzeWjlp4Kl9VvcCqWTEBr8NNto0OyVKtg">
            <h3>About Me</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet similique tempore, iste natus quisquam officia consectetur recusandae qui saepe voluptate rem mollitia fuga placeat. Officia neque autem vitae molestias pariatur in dolor, quasi non quod! Quibusdam quo, recusandae nobis, aut necessitatibus animi ipsa est explicabo, ut nisi corrupti incidunt? Animi sunt recusandae tenetur error quibusdam, non voluptas aperiam velit sequi consectetur nihil soluta nesciunt earum corrupti facere voluptate nemo doloribus voluptatem in repellendus cupiditate pariatur provident! Quam natus sunt omnis consequatur vitae assumenda molestias non asperiores id similique obcaecati quibusdam officia, cumque quidem numquam velit reprehenderit magni, eius atque laborum?</p>
        </div>
    </div>
</body>

</html>