<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <title>Shooting Stars Photography Homepage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>

<body>
    <div id="homepage">
        <div class="title">
            <h1>Shooting Stars</h1>
        </div>
        <div class="links">
            <table>
                    <tr>
                        <th><a href="/go-home" class="home-link">home</a></th>
                        <th><a href="" class="home-link">photos</a></th>
                        <th><a href="" class="home-link">contact</a></th>
                    </tr>
            </table>
        </div>
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQEDI1qb_O_6ZQ/profile-displayphoto-shrink_800_800/0/1624300411907?e=1632355200&v=beta&t=T-Z3ENMnB0x17tf6jDF1td2zJv7KePIMf5l7ZsXrXg8">
        <div class="me">
            <h3>About Me</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A ut, reprehenderit adipisci molestias sequi pariatur delectus? Inventore, tenetur itaque fuga sit magni rerum porro, molestiae architecto aspernatur reiciendis consequatur iste necessitatibus ea voluptate id nisi culpa officiis ab velit voluptates voluptatibus animi hic! Nostrum quibusdam vitae eaque asperiores minima porro obcaecati perferendis? Corrupti quisquam, vel expedita nihil cumque numquam, amet nobis, minima eos excepturi dicta ipsa ducimus? Aliquam, quas. Voluptate, aliquid quam, nemo est impedit ea eveniet incidunt voluptates accusamus pariatur debitis nisi. Aspernatur, quidem. Corrupti blanditiis nostrum rem incidunt eius voluptates? Dolor voluptas, necessitatibus veniam aspernatur cum nostrum at.</p>
            <h3>Interest and Hobbies</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum nisi magni enim ut delectus aperiam perferendis, minus doloremque optio, tenetur deleniti cupiditate odio eligendi neque ipsa quam laudantium temporibus commodi quae dolore. Eum perspiciatis non consequatur totam voluptatum cum molestiae facilis iste ut atque repellat accusantium, tempore veritatis nihil fuga quos magnam temporibus excepturi sapiente, vel in cupiditate. Assumenda asperiores temporibus perspiciatis provident totam incidunt. Inventore fugiat voluptatem, necessitatibus aperiam nostrum totam, est laborum, ratione autem quasi distinctio odit dolore perspiciatis ea omnis ipsam sapiente vero? Placeat eos, natus quisquam quam unde quidem. Reiciendis possimus neque id, molestias unde vitae.</p>
        </div>
    </div>
</body>

</html>