<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabriela&family=Herr+Von+Muellerhoff&family=Racing+Sans+One&display=swap" rel="stylesheet">
    <title>Shooting Stars Photography</title>
    {% load static %}
    <link rel="stylesheet"  href="{% static 'style.css' %}">
</head>
<body>
    <div id="container">
        <div class="head">
            <h1>Shooting Stars</h1>
            <h4>Brian Saechao</h4>
            <h3>Photography</h3>
            <a href="">Photos</a>
            <a href="/shootingstars-aboutme">About Me</a>
            <a href="">Pricing and Info</a>
            <a href="">Leave a comment</a>
        </div>
        <div>
            <img src="https://lh3.googleusercontent.com/pw/AM-JKLUDKd5_RFTYoOucX7I7-C73d4mAA4OQKWyrGLbUEJXyGMoQAJIwVH5M-vaR3ZaVTst5j7tTyzMzr6ddMgJXcDOXWKKNeRsuvtEVSdPWcR-H20XkozPe8cVK-kLwabZlSMmAM6uBnWUdvT5_5Y0Fko5p=w986-h657-no?authuser=0">
        </div>
    </div>

</body>
</html>