
/* shootingStars.html */
* {
    width: auto;
}

#container {
    height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://lh3.googleusercontent.com/OTrb18XDnkxAWm6pTlkKpPe4DkQUGrWUPBMhCEUbc0kbNeN6Ubu8zLs_rf-vaHI8FNXNZLFtL8NfgkaqH7AC3L8cGTJe5roqQqVpFSH9lNGsaT88Q7gl4dpaw5DCRKnzgQn7Pgvel2tSCfWkhHmLQvcz6wu8ehI4piKC-04ZxqJuLOj0szYuLcxpQ69XO-RSQpLkNLeCURNH1tnIYawWjhkGf-tQY0n9hVogKRFzGjH2F6Beamm7Q8S0VSUCnJKzbffu8zpvVlm-CXb62dnNj1_t23neOxHPdMgjrzQQ1g3oJEHNX-TqiJyLadCsbjpeMHq2TFCh_vuVWqnAJ5HYEwdAyNqfS8MMDwBOzQJfn6VQeEeYREPQ6ZgLCg0cvKshPOZKkmKZMMzzTNJxkrQKOP0hVy84LG2n_wlb9aCHIiLDlSxzlPvGW8pISHKsbOs_PtZk_Ce99XNtQ4CwbIElDJ07JfriNlnYa2fQToPswmeAG2CmoBzW8KVx-9METsRBm16wI6Q7gZcNFfT3FN6BOuDt-s1uDa8LAwupclzdLN34f2MrPb0NaXwe5K4DP5Df2ZMKpfcjpwrqtZXE0PR1g0YyQUTN8nH3RLd9CAT0WMA6Hrsk8vCUjx06QWemTYSoc4-pghRVwWDWpubC-LEtPNoS1OoEylqh8lH_Wbk3JdJSvlSBHTVVJ6wmsodHSNWDCqnQMR3dGZnFRpknWA=w1454-h969-no?authuser=0");
}

.head {
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Fuggles', cursive;
    font-family: 'Lobster Two', cursive;
    position: absolute;
    top: 60%;
    left: 55%;
    width: 50%;
}

.home_link {
    position: absolute;
    top: 65%;
    left: 50%;
    width: 100%;
    font-size: 15px;
}


/* home.html */

#homepage {
    background-color: black;
    height: auto;
}

.title {
    padding-top: 15px;
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Lobster', cursive;
    text-decoration: underline yellow;
}

table {
    width: 100%;
    padding-top: 5px;
    border-bottom: 2px solid floralwhite;
}

.home-link {
    color: silver;
    text-align: center;
    font-style: italic;
}

.me {
    border: 2px solid silver;
    margin-top: 50px;
    margin-left: 25px;
    width: 700px;
    display: inline-block;
    vertical-align: top;
}

h3 {
    color: floralwhite;
    margin-left: 20px;
    margin-top: 20px;
}

p {
    color: thistle;
}

img {
    max-width: 30%;
    height: auto;
    margin-top: 50px;
    margin-left: 15%;
    display: inline-block;
}