
/* shootingStars.html */
* {
    width: auto;
    margin: auto;
}

#container {
    margin: 0 auto;
    width: auto;
    text-align: center;
}

h1 {
    display: inline-block;
    font-family: 'Racing Sans One', cursive;
    color: blue;
    text-align: left;
}

h4 {
    display: inline-block;
    font-family: 'Herr Von Muellerhoff', cursive;
    margin-left: 700px;
    font-size: 30px;
}

h3 {
    font-family: 'Racing Sans One', cursive;
    padding-bottom: 15px;
    color: blue;
    text-align: left;
    margin-left: 250px;
    margin-top: -15px;
}

a {
    margin: 117px;
    text-decoration: none;
    font-family: 'Gabriela', serif;
    color: darkblue;
}

img {
    width: 100%;
    height: 440px;
    margin-top: 7px;
    object-fit: contain;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 40px;
    padding-bottom: 40px;
    display: inline-block;
}